* {
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    background: #266DD3;
}

#login-error {
    color: red;
}

/** HEADER AND NAVIGATION **/

.navbar {
    background: #ffffff;
    padding: 17px;
}
.navHead {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.headLinks {
    display: none;
}
#openBtn {
    display: flex;
}
.navH2 {
    align-self: center;
    text-decoration: none;
    color: black;
}

/** MOBILE NAVIGATION **/
.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/** MAIN PAGE **/

.mainArticle {
    display: flex;
    justify-content: center;
    height: 28rem;
    align-items: center;
    flex-direction: column;
}
.mainText {
    text-shadow: 1px 1px #000000;
    color: white;
    font-size: 3em;
    padding: 20px;
    text-align: center;
}
.mainButton {
    padding: 12px 16px 12px 16px;
    width: 11rem;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 1px solid white;
    margin: 4px;
    overflow: hidden;
    transition-duration: 0.4s;
    position: relative;
}
.mainButton:hover {
    border: 0;
    background-color: #14366f;
}
.mainButton:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}
.mainButton:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

/** FOOTER FOR EVERY PAGE **/

.mainFooter {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #14366f;
    height: 30rem;

}
.footerP {
    font-size: 1.4rem;
    color: white;
    margin-top: 20px;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
input[name=name] {
    width: 18rem;
    height: 2rem;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    padding: 12px;
    border: 2px solid white;
    box-sizing: border-box;
}

/** INPUTS FOR FOOTER **/

input[name=email] {
    width: 18rem;
    height: 2rem;
    padding: 12px;
    margin-top: 14px;
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    border: 2px solid white;
    color: white;
}
textarea[name=message] {
    margin-top: 14px;
    height: 8rem;
    width: 18rem;
    padding: 12px;
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    border: 2px solid white;
    color: white;
    resize: none;
}
input[type=submit] {
    margin-top: 14px;
    width: 18rem;
    height: 2rem;
    color: #266DD3;
    background-color: white;
    border: 0;
}
input[type=submit]:hover {
    background-color: #266DD3;
    color: white;
}

/** EDIT USER INFO PAGE! **/

.edit {
    text-align: center;
    margin-top: 40px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px ;
    letter-spacing: 2px;
}

td, th {
    border: 1px solid #dddddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/** LOGIN PAGE  **/

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e7e7e7;
    box-shadow: 0 1px 5px black;
    height: 26rem;
    width: 24rem;
    margin: auto;
}
.login-Text {
    display: flex;
    align-self: center;
    font-size: 53px;
    margin-bottom: 36px;
    color: #266DD3;
    text-shadow: 1px 1px #000000;
}
.loginArticle {
    height: 29rem;
    display: flex;
    justify-content: center;
}
.login-icons {
    display: flex;
    justify-content: center;
    margin-right: 11px;
}
.login-Btn {
    align-self: center;
    width: 6rem;
    height: 2rem;
    background-color: #266DD3;
    color: white;
    border: 2px solid #266DD3;
    cursor: pointer;
    text-align: center;
}
.login-Btn:hover {
    background-color: #e7e7e7;
    color: #266DD3;
}

input.login {
    align-self: center;
    width: 18rem;
    height: 2rem;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #266DD3;
    color: #266DD3;
    padding: 12px;
    margin: 5px 0 10px 0;
 }
.register-Btn {
    color: #266DD3;
    text-align: center;
    text-decoration: none;
    margin-top: 7px;
}
#login-user {
    margin-right: 3px;
}
#login-now {
    display: none;
}
/** LOGIN SCREEN ICONS **/
#user {
    margin-right: 7px;
    color: #266DD3;
    font-size: 38px
}
#mail {
    margin-right: 7px;
    color: #266DD3;
    font-size: 38px
}

/** REGISTRATION FORM **/

.registerFormBtn {
    align-self: center;
    width: 6rem;
    height: 2rem;
    background-color: #266DD3;
    color: white;
    border: 2px solid #266DD3;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
}
.registerFormBtn:hover {
    background-color: #e7e7e7;
    color: #266DD3;
}
#register-form {
    display: none;
}
.register-Text {
    display: flex;
    align-self: center;
    font-size: 2em;
    color: #266DD3;
    margin-bottom: 4px;
}
.register-Btn:hover {
    text-decoration: underline;
}
.names {
    align-self: center;
}
.bDate {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-left: 30px;
    align-self: start;
}
.date {
    height: 2rem;
    width: 8.8rem;
    margin-bottom: 13px;
    margin-top: 3px;
    margin-left: 8px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #266DD3;
    color: #757575;
}

.gender {
    width: 7rem;
    height: 2rem;
    margin-left: 8px;
    margin-bottom: 9px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #266DD3;
    color: #757575;
    cursor: pointer;
}
.names {
    display: flex;
    flex-direction: row-reverse;
    align-self: center;
}
.pass {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 15px;
}
#email-box {
    margin-left: 2px;
}
/** DATE ICON **/
#dateIcon {
    height: 47px;
    font-size: 34px;
    margin-right: 1px;
    color: #266DD3;
}
/** EMAIL ICON **/
#emailIcon {
    height: 41px;
    font-size: 35px;
    margin-right: 7px;
    color: #266DD3;
}
/** FIRSTNAME ICON **/
#name {
    font-size: 42px;
    margin-right: 8px;
    margin-top: 3px;
    color: #266DD3;
}
/** LASTNAME ICON **/
#lName {
    font-size: 38px;
    margin-right: 9px;
    margin-top: 5px;
    color: #266DD3;
}
/** PASSWORD ICON **/
#pass {
    color: #266DD3;
    font-size: 37px;
    margin-top: 5px;
    margin-right: 13px;
}
/** GENDER ICON **/
.mars-venus {
    flex-direction: row-reverse;
    display: flex;
    align-self: flex-start;
    margin-left: 25px;
}
#mars-venus {
    color: #266DD3;
    font-size: 31px;
    margin-top: 4px;
}
/** ID'S FOR EVERY TEXT BOX **/
#reg-1 {
    margin-right: 20px;
}
#reg-2 {
    margin-right: 22px;
}
#reg-3 {
    margin-right: 23px;
}
#reg-4 {
    margin-left: 27px;
}
#reg-5 {
    align-self: center;
}

/** DISCUSSION FORUM  **/
.forumArticle {
    background: #a8bee2;
}

/** POSTS LAYOUT **/
.img {
    background-color: #aaa;
    width: 90%;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.resp {
    width: 100%;
    height: auto;
    margin-top: 1.2em;
    border-radius: 5px;
    box-shadow: 0 1px 4px #888;
    border: 1px solid #888;
    cursor: pointer;
}
.content-text {
    font-size: 0.9em;
}
.title-text {
    margin-bottom: 1em;
    font-size: 1em;
}
/* Add a card effect for articles */
.card {
    background-color: #f5f5f5;
    padding: 20px;
    font-size: 1em;
    border-top: 2px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
}
.icons {
    margin-top: 15px;
}
.post-article {
    display: flex;
    flex-direction: column;
}

/** MAKING POST **/
.post {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid #dfdfdf;
    background: #f5f5f5;

}
.post-title {
    resize: none;
    align-self: center;
    height: 2em;
    padding: 0.4em 0 0 0;
    width: 90%;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #bbb;
    font-size: 1.3em;
    background: #f5f5f5;
}

.post-content {
    resize: none;
    align-self: center;
    padding: 0.4em 0 0 0;
    width: 90%;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: 4em;
    background: #f5f5f5;
}

/** Modal **/
/* The Modal (background) */
#editPostModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  /* Modal Body */
  .modal-body {padding: 2px 16px;}
  
  /* Modal Footer */
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 50% auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }

.attachments-send {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-top: 0.4em;
    border-top: 1px solid #bbb;
    padding: 0.6em 0 0.6em 0;
}
#post-btn {
    color: white;
    background: #266DD3;
    width: 5em;
    margin: 0 0 0 4em;
    padding: 0;
    border-radius: 15px;

}
#post-btn:hover {
    background: #14366f;
    color: #f8f8f8;
}
.post-file {
    align-self: center;
}
/** Preview Image **/
.image-preview {
    width: 300px;
    min-height: 100px;
    margin-top: 15px;
    border: 0;

    display: none;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #cccccc;
}
.image-preview-image {
    display: none;
    width: 100%;
}
#myVideo {
    display: none;
}
#forumFooter {
    margin-top: 0.5rem;
}

/** MODAL IMAGE **/
.hide {
    display: none !important;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal img {
    height: auto;
    background: #fff;
    border-radius: 15px;
    width: 100%;
}
.close {
    position: absolute;
    top: 1em;
    right: 1em;
    color: #fff;
    text-shadow: #000;
    font-size: 2em;
}
.close:hover {
    color: #0078ff;
}

/** DESKTOP VIEW! **/

@media only screen and (min-width: 680px) {
    * {
        font-size: 120%;
    }
    html {
        background: #266DD3;
    }
    .navbar {
        top: 0;
        z-index: 100;
        position: fixed;
        width: 100%;
        padding: 0.3em;
    }
    #myVideo {
        display: block;
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -1;
    }
    .mainArticle {
        height: 38rem;
        margin-top: 1rem;
    }
    .mainText {
        font-size: 2.5em;
    }
    .mainButton {
        transition: all 0.5s;
        cursor: pointer;
        font-size: 0.5em;
    }
    .mainButton span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }
    .mainButton span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }
    .mainButton:hover span {
        padding-right: 25px;
    }
    .mainButton:hover span:after {
        opacity: 1;
        right: 0;
    }
    #openBtn {
        display: none;
    }
    .navHead {
        display: flex;
        flex-direction: row;
        width: 680px;
        margin: auto;
        justify-content: flex-end;
    }
    .navH2{
        margin-right: auto;
        text-decoration: none;
        color: black;
        font-size: inherit;
    }
    .mainText {
    width: 680px;
    }
    .headLinks {
        display: flex;
        text-decoration: none;
        margin-right: 25px;
        align-items: center;
        font-size: 0.5em;
        color: black;
    }
    .headLinks:hover {
        color: #266DD3;
    }
    input[name="name"] {
        font-size: 0.6em;
    }
    input[name="email"] {
        font-size: 0.6em;
    }
    textarea[name="message"]{
        font-size: 0.6em;
        resize: none;
    }
    input[type="submit"] {
        font-size: 0.6em;
        cursor: pointer;
    }

    /** FORUM **/

    .forumArticle {
        width: 680px;
        margin: auto;
    }
    .loginArticle {
        margin-top: 4rem;
    }
    .login-Btn {
        font-size: 0.6em;
    }
    input.login {
        font-size: 0.6em;
    }
    .register-Btn {
        font-size: 0.6em;
    }
    .gender {
        font-size: 0.6em;
    }
    .date {
        width: 8.8em;
        font-size: 0.6em;
        padding: 0 0 0 10px;
    }
    .registerFormBtn {
        font-size: 0.6em;
    }
    /** POSTS **/
    .post {
        margin-top: 4.5rem;
        font-size: 0.6em;

    }
    .post-file {
        font-size: 0.6em;
    }
    .card{
        font-size: 0.6em;
    }
    .attachments-send {
        justify-content: space-between;
    }
    #post-btn {
        width: 6em;
    }

    .modal-content {
        margin: 10% auto;
    }

    /** ABOUT **/

    .aboutArticle {
        margin-top: 4rem;
    }
    /** edit user info **/
    .editArticle {
        margin-top: 4rem;
    }
    #log-out {
        display: flex;
        text-decoration: none;
        margin-right: 25px;
        align-items: center;
        font-size: 0.5em;
        color: black;
    }

    /** MODAL IMAGE **/

    .hide {
        display: none !important;
    }
    .modal {
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.5);
    }
    .modal img {
        height: 60%;
        width: auto;
    }
    .close {
        position: absolute;
        top: 1em;
        right: 1em;
        color: #fff;
        text-shadow: #000;
        font-size: 2em;
    }
}

