* {
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    background: #266DD3;
}

#login-error {
    color: red;
}

.navbar {
    background: #ffffff;
    padding: 17px;
}
.navHead {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.headLinks {
    display: none;

}
#openBtn {
    display: flex;
}
.navH2 {
    align-self: center;
}

/** Mobile Nav **/

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
.mainArticle {
    display: flex;
    justify-content: center;
    height: 28rem;
    align-items: center;
    flex-direction: column;
}
.mainText {
    text-shadow: 1px 1px #000000;
    color: white;
    font-size: 3em;
    padding: 20px;
    text-align: center;
}
.mainButton {
    padding: 12px 16px 12px 16px;
    width: 11rem;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 1px solid white;
    margin: 4px;
    overflow: hidden;
    transition-duration: 0.4s;
    position: relative;
}
.mainButton:hover {
    border: 0;
    background-color: #14366f;

}
.mainButton:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.mainButton:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
.mainFooter {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #14366f;
    height: 30rem;
}
.footerP {
    font-size: 1.4rem;
    color: white;
    margin-top: 20px;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
input[name=name] {
    width: 18rem;
    height: 2rem;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    padding: 12px;
    border: 0;
    border: 2px solid white;
    box-sizing: border-box;

}
input[name=email] {
    width: 18rem;
    height: 2rem;
    padding: 12px;
    margin-top: 14px;
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    border: 2px solid white;
    color: white;
}
textarea[name=msg] {
    margin-top: 14px;
    height: 8rem;
    width: 18rem;
    padding: 12px;
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    border: 2px solid white;
    color: white;
}
input[type=submit] {
    margin-top: 14px;
    width: 18rem;
    height: 2rem;
    color: #266DD3;
    background-color: white;
    border: 0;
}
input[type=submit]:hover {
    background-color: #266DD3;
    color: white;
}

/**       FORUM     **/


/**     LOGIN       **/

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e7e7e7;
    box-shadow: 0px 1px 5px black;
    height: 26rem;
    width: 24rem;
    margin: auto;
}
.login-Text {
    display: flex;
    align-self: center;
    font-size: 53px;
    margin-bottom: 36px;
    color: #266DD3;
    text-shadow: 1px 1px #000000;
}

.loginArticle {
    height: 29rem;
    display: flex;
    justify-content: center;
}
.login-icons {
    display: flex;
    justify-content: center;
    margin-right: 11px;
}
#user {
    margin-right: 7px;
    color: #266DD3;
    font-size: 38px
}
#mail {
    margin-right: 7px;
    color: #266DD3;
    font-size: 38px
}
#login-user {
    margin-right: 3px;
}
#login-now {
    display: none;
}

input.login {
    align-self: center;
    width: 18rem;
    height: 2rem;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #266DD3;
    color: #266DD3;
    padding: 12px;
    margin: 5px 0px 10px 0px;

}
.login-Btn {
    align-self: center;
    width: 6rem;
    height: 2rem;
    background-color: #266DD3;
    color: white;
    border: 2px solid #266DD3;
    cursor: pointer;
    text-align: center;
}
.login-Btn:hover {
    background-color: #e7e7e7;
    color: #266DD3;
}
.register-Btn {
    color: #266DD3;
    text-align: center;
    text-decoration: none;
    margin-top: 7px;
}
.registerFormBtn {
    align-self: center;
    width: 6rem;
    height: 2rem;
    background-color: #266DD3;
    color: white;
    border: 2px solid #266DD3;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
}
.registerFormBtn:hover {
    background-color: #e7e7e7;
    color: #266DD3;
}
#register-form {
    display: none;
}
.register-Text {
    display: flex;
    align-self: center;
    font-size: 53px;
    color: #266DD3;
    margin-bottom: 4px;
}

.register-Btn:hover {
    text-decoration: underline;
}
.names {
    align-self: center;
}

.bDate {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row-reverse;
    margin-left: 18px;
}
.date {
    height: 2rem;
    width: 7rem;
    margin-bottom: 13px;
    margin-top: 3px;
    margin-left: 4px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #266DD3;
    color: #266DD3;
}
#dateIcon {
    height: 40px;
    font-size: 29px;
    margin-right: 6px;
    color: #266DD3;
}
#emailIcon {
    height: 40px;
    font-size: 29px;
    margin-right: 6px;
    color: #266DD3;
}
#email-box {
    margin-left: 2px;
}
.gender {
    width: 7rem;
    height: 2rem;
    margin-left: 9px;
    margin-bottom: 9px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #266DD3;
    color: #266DD3;
    cursor: pointer;
}
.names {
    display: flex;
    flex-direction: row-reverse;
    align-self: center;

}
#name {
    font-size: 36px;
    margin-right: 8px;
    margin-top: 3px;
    color: #266DD3;
}
#lName {
    font-size: 32px;
    margin-right: 9px;
    margin-top: 5px;
    color: #266DD3;
}
#reg-1 {
    margin-right: 20px;
}
#reg-2 {
    margin-right: 22px;
}
#reg-5 {
    align-self: center;
}
.pass {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 22px;

}
#pass {
    color: #266DD3;
    font-size: 37px;
    margin-top: 5px;
    margin-right: 13px;
}
.mars-venus {
    flex-direction: row-reverse;
    display: flex;
    align-self: flex-start;
    margin-left: 12px;
}
#mars-venus {
    color: #266DD3;
    font-size: 30px;
}


@media only screen and (min-width: 680px) {
    * {
        font-size: 120%;
    }
    .navbar {

    }
    /*html {*/
    /*    background-image: url("../img/bg1.jpg");*/
    /*    background-repeat: no-repeat;*/
    /*    background-position: center;*/
    /*    background-size: cover;*/
    /*    position: sticky;*/
    /*    z-index: -1;*/
    /*    width: 100%;*/
    /*    height: 100%;*/
    /*}*/
    .mainArticle {
        height: 38rem;
    }
    .mainText {
        font-size: 2.5em;
    }
    .mainButton {
        transition: all 0.5s;
        cursor: pointer;
        font-size: 0.5em;
    }
    .mainButton span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }
    .mainButton span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }
    .mainButton:hover span {
        padding-right: 25px;
    }
    .mainButton:hover span:after {
        opacity: 1;
        right: 0;
    }
    #openBtn {
        display: none;
    }
    .navHead {
        display: flex;
        flex-direction: row;
        width: 680px;
        margin: auto;
        justify-content: flex-end;
    }
    .navH2{
        margin-right: auto;
    }
    .mainText {
    width: 680px;
    }
    .headLinks {
        display: flex;
        text-decoration: none;
        margin-right: 25px;
        align-items: center;
        font-size: 0.5em;
        color: black;
    }
    .headLinks:hover {
        color: #266DD3;
    }
    input[name="name"] {
        font-size: 0.6em;
    }
    input[name="email"] {
        font-size: 0.6em;
    }
    textarea[name="msg"]{
        font-size: 0.6em;
    }
    input[type="submit"] {
        font-size: 0.6em;
        cursor: pointer;
    }

        /**     FORUM       **/

    .forumArticle {
        width: 680px;
        margin: auto;
    }

    .login-Btn {
        font-size: 0.6em;
    }
    input.login {
        font-size: 0.6em;
    }
    .register-Btn {
        font-size: 0.6em;
    }
    .gender {
        font-size: 0.6em;
    }
    .date {
       width: 6.8em;
        font-size: 0.6em;
    }
    .registerFormBtn {
        font-size: 0.6em;
    }
}